
*{
  box-sizing:border-box;
}
html{
  height:100%;
}
body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(to top, #121212, #1e1e20);
 
  color:black;
}

.main-button{
  position:absolute;
  background:rgb(82,56,190);
  color:white;
  padding:20px;
  margin:20px;
  font-family:arial;
  font-size:20px;
  border: 4px solid white;
  border-radius:15px
  
}

.menu {
  position: absolute;
  top:-10px;
  left: 0px;
  height:70px;
}

header {
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height:50px;
  color:#ffffff;
  font-family:tahoma;
  padding:0px 30px;
  background:rgba(255,255,255,0);
  box-shadow:0px 2px 5px rgba(0,0,0,0.2);
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-direction:row;
}

.logo {
  height:35px;
  margin-right:10px;
  background:white;
  border-radius:100%;
}


.text-input {
  position:absolute;
  bottom:0;
  left:30px;
  width:90%;
  height:55px;
  background:rgba(0,0,0,0);
}

.text-field {
  background: #3c3c3c;
  color:white;
  position:absolute;
  height:30px;
  padding:5px;
  border-radius:15px;
  border:1px solid white;
  display:block;
  width:90%;
  top:20%;
  left:20px;
}

.icon {
  height:20px;
}

.button {
  position:absolute;
  border-radius:100%;
  right:8%;
  top:24%;
  padding:2px;
  border:white;
  outline:none;
}

.button:focus {
  outline: none;
}

.button:hover{
  background:yellow;
  color:white;
}

.messages{
  height:calc(100vh - 105px);
  width:100vw;
  position:absolute;
  top:50px;
  left:0px;
  display:flex;
  flex-direction: column-reverse;
  overflow-y:auto;
  padding:0px 10px;
}

.message{
  position:relative;
  margin-top: 10px;

}

.msg-text{
  color:white;
  background:#6b6b6b;
  margin:5px;
  border-radius:16px;
  padding:10px 10px;
  display:inline-block;
  max-width: 250px;
  overflow-wrap: break-word;
}

.msg-name{
  color:white;
  font-size:11px;
  position:absolute;
  top:-9px;
  left:5px;
}

.message-wrap{
  width:100%;
  display:flex;
  justify-content: flex-start;
}

.message-wrap[from="me"]{
  justify-content: flex-end;
}

.edit-username{
  display: flex;
  align-items: center;
}
.name-button{
  height:30px;
  margin:0 6px;
  background:transparent;
  color:white;
  font-size:14px;
  padding:7px;
  border:none;
  cursor: pointer;
}
.name-button:hover{
  background:rgba(255,255,255,0.8)
}
.name-input{
  color:white;
  height:31px;
  border:1px solid white;
  border-radius:14px;
  padding-left:12px;
  background:#1f1e2e;
  padding-bottom:2px;
  font-size:12px;
}
.username{
  display: flex;
  align-items: center;
  margin-right:12px;
  font-size:0.8rem;
}
